bin
obj
.vs
coverage.opencover.xml
coverage.json
_build
TestResults
.idea/.idea.kafka-stream-net/.idea/.name
.idea/.idea.kafka-stream-net/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.kafka-stream-net/.idea/contentModel.xml
.idea/.idea.kafka-stream-net/.idea/indexLayout.xml
.idea/.idea.kafka-stream-net/.idea/modules.xml
.idea/.idea.kafka-stream-net/.idea/projectSettingsUpdater.xml
.idea/.idea.kafka-stream-net/.idea/vcs.xml
.idea/.idea.kafka-stream-net/.idea/workspace.xml
.idea/.idea.kafka-stream-net/riderModule.iml
kafka-stream-net.sln.DotSettings.user
kafka-stream-net.sln.DotSettings.user
